.service_body{
    height: 62rem;
    background-color: aqua;
    padding-bottom: 40px;
    
}



@media screen and (min-width: 600px) {
.service_body {
        height: 26rem;
        padding-bottom: 40px;
    }

}

@media screen and (min-width: 950px) {
.service_body {
        height: 30.0rem;
        padding-bottom: 50px;
    }

}