.service_body{
    height: 55.75rem;
    padding-bottom: 5rem;
    background-color: #fff;

    
}

.serv_heading{
color: var(--color-body)
}

.serv_body{
color: var(--color-body)
}


.service_body {
    // height: 18.75rem;
    display: grid;
    flex-direction: row;
    justify-content: center;
    gap: 24px;


}

.serv {
    padding: 24px;
    margin-top: 20px;
    gap: 24px;
    width: 344px;
    height: 251px;

}

.box1 {
    background: rgba(226, 0, 16, 0.05);
}

.box2 {
    background: rgba(245, 132, 76, 0.05);
}

.box3 {
    background: rgba(85, 166, 48, 0.05);
}

.serv_icon img {
    height: 54.588233947753906px;
    width: 63.99764633178711px;
    left: 0.001251220703125px;
    top: 0px;
    border-radius: 0px;
}

.serv_heading {
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.serv_body {

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

// @media screen and (min-width: 600px) {
// .service_body {
//         height: 16.25rem;
//         padding-bottom: 40px;
//     }

// }

@media screen and (min-width: 950px) {
.service_body {
        height: 18.75rem;
        padding-bottom: 50px;
        display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 24px;
    }
.wholeserv{
    width: 100vw;
    background-color: #fff;
}
        .serv{
        padding: 24px;
        margin-top: 20px;
            gap: 24px;
            width: 344px;
            height: 251px;
           
    }

    .box1{
background: rgba(226, 0, 16, 0.05);
    }
    .box2{
background: rgba(245, 132, 76, 0.05);
    }
    .box3{
background: rgba(85, 166, 48, 0.05);
    }

    .serv_icon img{
    height: 54.588233947753906px;
    width: 63.99764633178711px;
    left: 0.001251220703125px;
    top: 0px;
    border-radius: 0px;
    }

    .serv_heading{
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    }
    .serv_body{

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    }
}

@media screen and (min-width: 600px) {
.wholeserv {
        width: 100vw;
        background-color: #fff;
    }

    .service_body {
        height: 18.75rem;
        padding-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 24px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

    }

    .serv {
        padding: 24px;
        margin-top: 20px;
        gap: 17px;
        width: 300px;
        height: 300px;

    }

    .box1 {
        background: rgba(226, 0, 16, 0.05);
    }

    .box2 {
        background: rgba(245, 132, 76, 0.05);
    }

    .box3 {
        background: rgba(85, 166, 48, 0.05);
    }

    .serv_icon img {
        height: 54.588233947753906px;
        width: 63.99764633178711px;
        left: 0.001251220703125px;
        top: 0px;
        border-radius: 0px;
    }

    .serv_heading {
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
    }

    .serv_body {

        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
}