// .html {
//     font-size: 62.5%;
// }

.hero{
    width: 100vw;
    height: 584px;
    left: 0px;
    top: 0px;
    background: #F5844C0D;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.herogrid{
    display: grid;
    width: 100vw;
    justify-items: center;
    grid-template-columns: 50fr 50fr;
    grid-template-rows: 100%;
}

.hero_left_text{
    width: 75%;
    margin-left: auto;
}


.hero_header{
    font-size: 3.75rem;
    font-weight: 700;
    line-height: 4.563rem;
    letter-spacing: 0em;
    text-align: left;
    background: linear-gradient(89.39deg, #DE3D6D 18.77%, #F5844C 91.68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_header_div{
margin-top: 3.125rem;
}

.hero_subtitle{
    margin-top: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-body);
    margin-bottom: 35px;

}

@media screen and (max-width: 1200px) {


.hero{
    height: 505px;
}

 .hero-logo img {
     width: 470px;
 }

 .hero_header{
    font-size: 2.7rem;
    line-height: 45px;
 }
}

@media screen and (max-width: 950px) {
.herogrid{
    grid-template-columns: 50fr 50fr;
}

    .home-logo img{
    width: 190px;
}

    .hero_left_text {
        width: 68%;
        margin-left: 6.25rem;
        margin-top: 1.25rem;
    }

.hero{
    height: 380px;
    margin-top: 0px;

    width: 100vw;
}

    .right{
        width: 100%;
    }
.hero-logo img{
    width: 21.88rem;
    margin-top: 60px;
  
}

    .hero_header {
        font-size: 1.825rem;
        font-weight: 700;
        line-height: 2.125rem;
    }

    .hero_header_div {
        margin-top: 3.125rem;
        line-height: 3.125rem;
    }

    .hero_subtitle {
        margin-top: 20px;
        font-size: 0.69rem;
        line-height: 19px;
        margin-bottom: 25px;

    }
}

@media screen and (max-width: 600px) {

    .hero {
    height: 550px;
    height: 700px;
    width: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column-reverse;

    }


.herogrid{
    display: block;
}



    .left .hero_left_text .hero_header{
            text-align: center;
            margin-left: 0;
            margin-right: 0;
    }

    .hero_left_text{
        text-align: center;
        width: 80vw;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        padding-top: 50px 0;
        margin-left: auto;
        margin-right: auto;
        // padding-left: 17%;
        // padding-right: 17%;
    }

    .hero-btn{
        border-radius: 15px;
    }

   

        .hero-logo img {
            width: 355px;
            margin-top: -19px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;

            
        }
        .hero_header{
            font-size: 1.9rem;
            width: 80vw;
            margin-left: auto;
            margin-right: auto;
            padding-left: 0;
            padding-right: 0;
        }

        .hero_subtitle{
            font-size: 0.9rem;
        }

        .right{
       
            text-align: center;
        }
}


@media screen and (max-width: 300px){
.hero-logo img {
margin-top: 60px;
}

.hero{
    flex-direction: column;
    padding-top: 0;
}

.right{
    padding-top: 0rem;
   text-align: center;

}

.hero-logo img{
    margin-top: 0px;    
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 
}


}