html {
    font-size: 62.5%;
}

.hero{
    width: 100vw;
    height: 584px;
    left: 0px;
    top: 0px;
    background: #F5844C0D;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.herogrid{
    display: grid;
    display: grid;
    width: 100vw;
    justify-items: center;
    grid-template-columns: 50fr 50fr;
    grid-template-rows: 100%;
    position: fixed;
}

.hero_left_text{
    width: 75%;
    margin-left: auto;
}

.hero_header{
    font-size: 6rem;
    font-weight: 700;
    line-height: 7.3rem;
    letter-spacing: 0em;
    text-align: left;
    background: linear-gradient(89.39deg, #DE3D6D 18.77%, #F5844C 91.68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero_header_div{
margin-top: 5rem;
}

.hero_subtitle{
    margin-top: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-body);
    margin-bottom: 35px;

}

@media screen and (max-width: 900px) {
    .hero_left_text {
        width: 68%;
        margin-left: 10rem;
        margin-top: 2rem;
    }



    .hero_header {
        font-size: 3.1rem;
        font-weight: 700;
        line-height: 3.9rem;
        letter-spacing: 0em;
        text-align: left;
        background: linear-gradient(89.39deg, #DE3D6D 18.77%, #F5844C 91.68%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .hero_header_div {
        margin-top: 5rem;
        line-height: 5rem;
    }

    .hero_subtitle {
        margin-top: 20px;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 19px;
        color: var(--color-body);
        margin-bottom: 25px;

    }
}

@media screen and (max-width: 600px) {
    
}