.enc{
    background-color: white;
    text-align: left;
        padding-top: 0rem;
        margin-top: 0rem;
        padding-bottom: 50px;
       
}

.encompass1{
color: var(--color-body);
    padding-left: 17%;
    padding-right: 17%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 0px;
    margin-top: -110px;
    width: 21.25rem;

}

.rectangle{
    padding-top: 25px;
    padding-left: 40px;
    margin-top: 0;
}

.rectangle img{
height: 120px;
}

.bodytext1 {
        font-style: normal;
        font-weight: 700;
        font-size: 0.625rem;
        line-height: 1.25rem;
}
.bodyText1Subtitle{
    margin-top: 0.44rem;
    font-size: 0.75rem;
}

@media screen and (min-width: 600px) {

    .enc{
        display: flex;
        margin-top: 0rem;
            margin-left: 0px;
            text-align: left;
            padding-left: 3.75rem;
            background-color: white;
                padding-top: 3.44rem;
                padding-bottom: 40px;
    }

.encompass1 {
margin-top: 0rem;
margin-left: 0px;
text-align: left;
padding-left: 1.875rem;
width: 23.75rem;
height: 24px;
}

.rectangle img{
height: 100px;
}

.rectangle{
    padding-top: 0px;
}

.bodytext1{
font-weight: 700;
font-size: 0.625rem;
line-height: 1.625rem;
}

.bodyText1Subtitle{
font-size: 0.75rem;
}
}

@media screen and (min-width: 950px) {


.enc {
        display: flex;
        margin-top: 0rem;
        margin-left: 0px;
        text-align: left;
        padding-left: 8.438rem;
        padding-top: 4.375rem;
    }

    .encompass1 {
        margin-top: 0rem;
        margin-left: 0px;
        text-align: left;
        padding-left: 1.875rem;
        width: 48.563rem;
        height: 24px;
        padding-top: 0rem;
    }

    .rectangle img {
        height: 160px;
    }

    .bodytext1 {
        font-weight: 700;
        font-size: 1.69rem;
        line-height: 3.5rem;
    }

    .bodyText1Subtitle {
        font-size: 1.06rem;
       width: 23rem;
    }

}