.adv_body{
    height: 82rem;
    padding-bottom: 40px;
    width: 100vw;
    background-color: #FFF;
}

.adv_box{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height:76rem;
    background-color: aqua;
    background: rgba(255, 242, 235, 0.6);
    border-radius: 24px;
}

.adv_left{
height: 50%;
}

.adv_right{
    height: 50%;
}

@media screen and (min-width: 600px) {
.adv_body {
        height: 44rem;
        width: 100vw;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
.adv_box{
        display: grid;
   grid-template-columns: 48vw 48rem;
   grid-template-rows: 36rem;
    width: 99vw;
        height: 36rem;
        border-radius: 24px;
}
.adv_left {
    height: 100%;
    width: 100%;
    background-color: aqua;
}

.adv_right {
    height: 100%;
    width: 100%;
}
}

@media screen and (min-width: 950px) {
.adv_body {
        height: 61.5rem;
        width: 100vw;
        padding: 5rem 10vw 5rem 10vw;
    }
    .adv_box{
        display: grid;
        width: 80vw;
            grid-template-columns: 50% 50%;
            grid-template-rows: 51.5rem;
            height: 51.5rem;
            border-radius: 50px !important;
            
    }
        .adv_left {
            width: 100%;
            height: 100%;
            background-color: aqua;
        }
    
        .adv_right {
            height: 100%;
            width: 100%;
            background-color: aqua;
        }
}