.adv_body{
    height: 51.25rem;
    padding-bottom: 40px;
    width: 100vw;
    background-color: #FFF;
}

.adv_box{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height:47.5rem;
    // background-color: aqua;
    // background: #fff;
    border-radius: 24px;
}

.adv_left{
height: 40%;
}

.adv_right{
    height: 60%;
}
 .advert_text {
     margin-top: 4rem;
 }

 .advert_content h2 {
    margin-left: auto;
    margin-right: auto;
     width: 80%;
     height: 8.44rem;
     font-style: normal;
     font-weight: 600;
     font-size: 1.69rem;
     line-height: 30px;
     color: #03435F;
 }

 .advert_text p {
    margin-left: auto;
        margin-right: auto;
     width: 18.75rem;
     padding-top: 0rem;
     padding-bottom: 1.875rem;
     font-style: normal;
     font-weight: 400;
     font-size: 14px;
     line-height: 24px;
     color: #03435F;
 }

.my-btn{
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            padding-bottom: 2.34rem;
            width: 110px;
            height: 44px;
            color: #fff;
            border: none;
            outline: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            input:focus {
                outline: none
            }
            background: linear-gradient(92.1deg, #DE3D6D 55.67%, #F5844C 101.51%);
            border-radius: 10px;
}


@media screen and (min-width: 600px) {
.adv_body {
        height: 27.5rem;
        width: 100vw;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
.adv_box{
        display: grid;
   grid-template-columns: 57.6vw 38.4rem;
   grid-template-rows: 22.5rem;
    width: 99vw;
        height: 22.5rem;
        border-radius: 24px;
}
.adv_left {
    height: 100%;
    width: 100%;
    // background-color: aqua;
}

.adv_right {
    height: 100%;
    width: 100%;
}

.my-btn {
    padding-bottom: 2.34rem;
    width: 110px;
    height: 44px;
}
}

@media screen and (min-width: 950px) {
.adv_body {
        height: 36rem;
        width: 100vw;
        padding: 2.5rem 10vw 0.625rem 10vw;
    }
    .adv_box{
        display: grid;
        width: 80vw;
        
            grid-template-columns: 52% 48%;
            grid-template-rows: 32.2rem;
            height: 32.2rem;
            border-radius: 50px !important;
            // background-image: url('../../assets/advert_bg.png');
            row-gap: 0;
            column-gap: 0;
            
    }
    .advert_bgdiv{
        width: 80vw;
        height: 32.2rem;
        // background-color: #F5844C;
                background-image: url('../../assets/advert_bg.png');
                    background-size: cover;
                        background-position: center;

    }
        .adv_left {
            width: 100%;
            height: 100%;
            // background-color: aqua;
        }
    
        .adv_right {
            height: 100%;
            width: 100%;
            // background-color: aqua;
        }
               
                .advert_text {
                    margin-top: 4rem;
                }

                     .advert_content h2{
            
                        width: 525px;
                        margin-left: 5.3rem;
                        height: 168px;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 40px;
                        line-height: 56px;
                        text-align: left;
                       
                }

                .advert_text p{
                    width:25rem;
                    padding-top: 1.56rem;
                    padding-bottom: 1.88rem;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 24px;
                        color: #03435F;
                        margin-left: 5.3rem;
                        text-align: left;
                       
                        
                }
                .my-btn {
                    padding-bottom: 2.34rem;
            width: 178px;
                height: 48px;
                    margin-left: 5.3rem;
                    
                }
.btnpara{
font-size: 16px;

}
                .phonetouch img{
                    width: 510px;
                    
                }
            }
