.contents {
    text-align: center;
}

.testimonal-container{
    display: grid;
    grid-template-columns: 25.67vw 25.67vw 25.67vw;
    grid-template-rows: 30rem;
    width: 80vw;
    column-gap: 1.5vw;
    margin-left: auto;
    margin-right: auto;

}


