
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
<<<<<<< HEAD
  font-family: 'Inter', sans-serif;
=======
  font-family: inter;
>>>>>>> 06b3e50a1722d5db3282381712d616b67fb41b55
}
