.withdraw-balance {
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
}
// .withdraw-balance p {
//     font-siz
// }
 .input-field {
    height: 48px;
    width: 100%;
    left: 0px;
    top: 25px;
    border-radius: 0px;
    padding: 10px 407px 10px 16px;
   
}


