.navbar{
    background: #fff;
    color: white;
    display: flex;;
    justify-content: space-between;
}
 .home-logo img {
     width: 20rem;
 }
     
        
        //    .hamburger-menu .home-logo2 {
        //        visibility: hidden;
        //    }





.logo-image{
    padding-left: 9.375rem;
    width: 16.813rem;
}
@media screen and (max-width: 970px) {
    .logo-image{
        padding-left: 1.5rem;
    }
}